# lab 12

# load data

# 2.1

In [3]:
import pandas

In [4]:
df = pandas.read_excel('s3://isabellerobinsonsbucket-ia241/house_price.xls')
df[:10]

,ID,price,bedroom,bathroom,house_type,lot_size,built_in,area,days,views
0,993,229900,3,2,single-family home,10018,2002,1541,77,1357
1,994,149900,4,2,single-family home,8712,1975,1810,5,1282
2,995,229900,3,2,single-family home,13504,1988,1456,76,947
3,996,359000,5,4,single-family home,10130,1997,2903,79,951
4,999,394000,3,2,single-family home,18295,2001,2616,73,709
5,1000,349900,3,2,single-family home,204732,1967,3850,42,366
6,1002,148500,3,1,single-family home,9147,1959,1000,17,328
7,1003,134900,2,2,townhouse,2300,1994,920,56,328
8,1004,265000,3,3,single-family home,13939,1998,2705,12,362
9,1005,149900,4,3,townhouse,2291,1999,1440,4,137

# 2.2

In [5]:
df['house_type'].value_counts()

single-family home    36
townhouse              3
condo                  2
Name: house_type, dtype: int64

# 2.3

In [23]:
df.loc[df['bathroom']>2]['price'].mean()

383645.45454545453

In [24]:
print('avg price of house more than 2 bath is ${}'.format(df.loc[df['bathroom']>2]['price'].mean()))

avg price of house more than 2 bath is $383645.45454545453

## 2.4

In [25]:
print('the mean unit price is ${:n}'.format(df['unit_price'].mean()))

KeyError: 'unit_price'

In [26]:
print('the median unit price is ${:g}'.format(df['unit_price'].median()))

KeyError: 'unit_price'

# 2.5

In [10]:
df.groupby('house_type')['price'].mean()

house_type
condo                 164450.000000
single-family home    378236.111111
townhouse             164600.000000
Name: price, dtype: float64

# 2.6

In [16]:
from scipy import stats

In [33]:
result = stats.linregress(df['area'],df['price'])

In [39]:
print('slope is {:n}'.format(result.slope))

slope is 79.955

In [35]:
print('intercept is {:n}'.format(result.intercept))

intercept is 156255

In [36]:
print('r square value {:g}'.format(result.rvalue*result.rvalue))

r square value 0.23439

# 2.7

In [40]:
print('the price of house with {}sqft is ${:,.2f}'.format(2000,2000*result.slope+result.intercept))

the price of house with 2000sqft is $316,164.68